import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.groupby(df.race)

    # What is the average age of men?
    average_age_men = None

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = None

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = None
    lower_education = None

    # percentage with salary >50K
    higher_education_rich = None
    lower_education_rich = None

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = None

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = None

    rich_percentage = None

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

In [1]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

<h3>Race Representation</h3>

In [244]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df.race.value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [19]:
df.head()

   age         workclass  fnlwgt  education  ...  capital-loss hours-per-week native-country salary
0   39         State-gov   77516  Bachelors  ...             0             40  United-States  <=50K
1   50  Self-emp-not-inc   83311  Bachelors  ...             0             13  United-States  <=50K
2   38           Private  215646    HS-grad  ...             0             40  United-States  <=50K
3   53           Private  234721       11th  ...             0             40  United-States  <=50K
4   28           Private  338409  Bachelors  ...             0             40           Cuba  <=50K

[5 rows x 15 columns]

In [23]:
df.nunique()

age                  73
workclass             9
fnlwgt            21648
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       42
salary                2
dtype: int64

In [25]:
df.sex.unique()

array(['Male', 'Female'], dtype=object)

In [2]:
men= df[df['sex']=='Male']

<h3> Average age of men </h3>

In [5]:
# What is the average age of men?
average_age_men = men.age.mean().round(1)
print(average_age_men)

39.4

In [16]:
educ_series=df.education.value_counts()
print(educ_series)

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

5355

In [47]:
educ_total=educ_series.sum()
print(educ_total)

32561

In [17]:
educ_series['Bachelors']

5355

In [245]:
# What is the percentage of people who have a Bachelor's degree?
educ_series=df.education.value_counts()
educ_total=educ_series.sum()
percentage_bachelors = ((educ_series['Bachelors']/educ_total)*100).round(1)
print(percentage_bachelors)

16.4

In [246]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = pd.Series(educ_series, index=['Bachelors','Masters','Doctorate']).sum()
lower_education = educ_total-higher_education
print(higher_education)
print(lower_education)

7491
25070

In [34]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [41]:
edu_rich_series =df[df['salary']=='>50K'].groupby(['education'])['education'].count()
print(edu_rich_series)

education
10th              62
11th              60
12th              33
1st-4th            6
5th-6th           16
7th-8th           40
9th               27
Assoc-acdm       265
Assoc-voc        361
Bachelors       2221
Doctorate        306
HS-grad         1675
Masters          959
Prof-school      423
Some-college    1387
Name: education, dtype: int64

In [46]:
edu_rich_series.sum()

7841

In [43]:
high_ed_rich_pop = pd.Series(edu_rich_series,index=['Bachelors','Masters','Doctorate']).sum()
print(high_ed_rich_pop)

3486

In [44]:
high_ed_rich_pop/higher_education

0.46535843011613937

In [49]:
low_ed_rich_pop = edu_rich_series.sum()-high_ed_rich_pop
print(low_ed_rich_pop)

4355

In [50]:
low_ed_rich_pop/lower_education

0.173713601914639

In [51]:
# percentage with salary >50K
higher_education_rich = ((high_ed_rich_pop/higher_education)*100).round(1)
lower_education_rich = ((low_ed_rich_pop/lower_education)*100).round(1)

In [255]:
((low_ed_rich_pop/lower_education)*100).round(1)

17.4

In [ ]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = None

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = None

rich_percentage = None

# What country has the highest percentage of people that earn >50K?
highest_earning_country = None
highest_earning_country_percentage = None

# Identify the most popular occupation for those who earn >50K in India.
 top_IN_occupation = None

In [55]:
df['hours-per-week'].unique()

array([40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95], dtype=int64)

In [56]:
df['hours-per-week'].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [247]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

In [67]:
df[(df['hours-per-week']<40) & (df['salary']=='>50K')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
180,44,Local-gov,181344,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,38,United-States,>50K
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
206,36,Private,128757,Bachelors,13,Married-civ-spouse,Other-service,Husband,Black,Male,7298,0,36,United-States,>50K
208,58,Self-emp-inc,210563,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,15024,0,35,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32347,36,State-gov,212143,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32438,66,Self-emp-not-inc,102686,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,>50K
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K

In [74]:
df[(df['hours-per-week']<40) & (df['salary']=='>50K')]['salary'].count()

738

In [254]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[(df['hours-per-week']<40) & (df['salary']=='>50K')]['salary'].count()

rich_percentage = ((num_min_workers/edu_rich_series.sum())*100).round(2)
print(num_min_workers)
print(edu_rich_series.sum())
print(rich_percentage)

738
7841
9.41

In [163]:
df.groupby('native-country')[['capital-gain','capital-loss']].sum()

                            capital-gain  capital-loss
native-country
?                                1053200         68949
Cambodia                           19529          3478
Canada                            182000         15722
China                              27486         13464
Columbia                           10656          1602
Cuba                               34887          6654
Dominican-Republic                103324          1762
Ecuador                            14773             0
El-Salvador                        60878          3298
England                            77825          7448
France                             15864             0
Germany                           121532         10683
Greece                             37233          8568
Guatemala                          14773          1594
Haiti                                  0          3225
Holand-Netherlands                     0          2205
Honduras                               0          1902
Hong                                   0          1977
Hungary                             9316          1668
India                             360492         13112
Iran                               87920          5453
Ireland                             7787          1887
Italy                              44640          1977
Jamaica                            38486             0
Japan                             157866          3567
Laos                                2885             0
Mexico                            223139         15911
Nicaragua                           6794          3427
Outlying-US(Guam-USVI-etc)             0             0
Peru                                1831          1848
Philippines                       201632         19593
Poland                             41057          2051
Portugal                            8450             0
Puerto-Rico                        36160          6296
Scotland                            5178             0
South                             149579         13554
Taiwan                            109499          7896
Thailand                               0             0
Trinadad&Tobago                        0          4226
United-States                   31772837       2581854
Vietnam                            44260          5849
Yugoslavia                          5556             0

In [205]:
18/43

0.4186046511627907

In [204]:
df[df['salary']=='>50K'].groupby(['native-country'])['native-country'].count()

native-country
?                      146
Cambodia                 7
Canada                  39
China                   20
Columbia                 2
Cuba                    25
Dominican-Republic       2
Ecuador                  4
El-Salvador              9
England                 30
France                  12
Germany                 44
Greece                   8
Guatemala                3
Haiti                    4
Honduras                 1
Hong                     6
Hungary                  3
India                   40
Iran                    18
Ireland                  5
Italy                   25
Jamaica                 10
Japan                   24
Laos                     2
Mexico                  33
Nicaragua                2
Peru                     2
Philippines             61
Poland                  12
Portugal                 4
Puerto-Rico             12
Scotland                 3
South                   16
Taiwan                  20
Thailand                 3
Trinadad&Tobago          2
United-States         7171
Vietnam                  5
Yugoslavia               6
Name: native-country, dtype: int64

In [176]:
high_earners_by_country_sum=df[df['salary']=='>50K'].groupby(['native-country'])['native-country'].count()

In [181]:
high_earners_by_country_sum[high_earners_by_country_sum==high_earners_by_country_sum.max()].index.tolist()[0]

'United-States'

In [203]:
high_earners_by_country_sum.max()/29170

0.24583476174151525

In [224]:
country_series=df.groupby(['native-country'])['native-country'].count()
country_series=pd.Series(country_series,name='total-workers')
rich_per_country=df[df['salary']=='>50K'].groupby(['native-country'])['native-country'].count()
rich_per_country=pd.Series(rich_per_country,name='high-income-workers')
test = pd.concat([country_series,rich_per_country],axis=1)
test['pct-rich-per-country']=(test['high-income-workers']/test['total-workers'])*100
test['pct-rich-per-country'].nlargest(1)

native-country
Iran    41.860465
Name: pct-rich-per-country, dtype: float64

In [235]:
test['pct-rich-per-country'].nlargest(1).iloc[0]

41.86046511627907

In [237]:
test['pct-rich-per-country'].nlargest(1).index[0]

'Iran'

In [238]:
# What country has the highest percentage of people that earn >50K?

highest_earning_country = test['pct-rich-per-country'].nlargest(1).index[0]
highest_earning_country_percentage = test['pct-rich-per-country'].nlargest(1).iloc[0]

In [243]:
df[(df['native-country']=='India')&(df['salary']=='>50K')].groupby(['occupation'])['occupation'].count().nlargest(1).index[0]

'Prof-specialty'

In [ ]:

# Identify the most popular occupation for those who earn >50K in India.
 top_IN_occupation = df[(df['native-country']=='India')&(df['salary']=='>50K')].groupby(['occupation'])['occupation'].count().nlargest(1).index[0]

In [ ]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.race.value_counts()

    # What is the average age of men?
    men= df[df['sex']=='Male']
    average_age_men = men.age.mean().round(1)

    # What is the percentage of people who have a Bachelor's degree?
    educ_series=df.education.value_counts()
    educ_total=educ_series.sum()
    percentage_bachelors = ((educ_series['Bachelors']/educ_total)*100).round(1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = pd.Series(educ_series, index=['Bachelors','Masters','Doctorate']).sum()
    lower_education = educ_series-higher_education

    # percentage with salary >50K
    edu_rich_series =df[df['salary']=='>50K'].groupby(['education'])['education'].count()
    high_ed_rich_pop = pd.Series(edu_rich_series,index=['Bachelors','Masters','Doctorate']).sum()
    low_ed_rich_pop = edu_rich_series.sum()-high_ed_rich_pop
    higher_education_rich = ((high_ed_rich_pop/higher_education)*100).round(1)
    lower_education_rich = ((low_ed_rich_pop/lower_education)*100).round(1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers =  df[(df['hours-per-week']<40) & (df['salary']=='>50K')]['salary'].count()
    min_workers = df[df['hours-per-week']<40]['salary'].count()

    rich_percentage = ((num_min_workers/min_workers)*100).round()

    # What country has the highest percentage of people that earn >50K?
    country_series=df.groupby(['native-country'])['native-country'].count()
    country_series=pd.Series(country_series,name='total-workers')
    
    rich_per_country=df[df['salary']=='>50K'].groupby(['native-country'])['native-country'].count()
    rich_per_country=pd.Series(rich_per_country,name='high-income-workers')
   
    percentage_rich = pd.concat([country_series,rich_per_country],axis=1)
    percentage_rich['pct-rich-per-country']=((percentage_rich['high-income-workers']/percentage_rich['total-workers'])*100).round(1)
    
    highest_earning_country = percentage_rich['pct-rich-per-country'].nlargest(1).index[0]
    highest_earning_country_percentage = percentage_rich['pct-rich-per-country'].nlargest(1).iloc[0]


    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df[(df['native-country']=='India')&(df['salary']=='>50K')].groupby(['occupation'])['occupation'].count().nlargest(1).index[0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }